.collapse-items {
    margin-top: clamp(30px, 2.54vw, 52px);
}

.collapse-items .collapse-item {
    background-image: linear-gradient(270deg, #5bcbf5 0%, #005d83 100%);
    padding: clamp(10px, 0.83vw, 17px) clamp(11px, 0.88vw, 18px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: clamp(9px, 0.73vw, 15px);
    color: #fff;
    font-size: clamp(14px, 1.17vw, 24px);
    line-height: 1.458;
    font-weight: 500;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer; /* Thêm cursor pointer để user biết có thể click */
}

.collapse-items .collapse-item img {
    width: clamp(15px, 1.27vw, 26px);
    height: clamp(9px, 0.78vw, 16px);
    transition-duration: 1s;
}

.collapse-items .collapse-item.collapsed {
    margin-bottom: clamp(4px, 0.34vw, 8px);
}

.collapse-items .collapse-item:not(.collapsed) img {
    transform: rotate(180deg);
}

.collapse-items .collapse-content {
    padding-top: 1rem;
    margin-bottom: clamp(34px, 2.83vw, 58px);
}

.collapse-items .collapse-content img {
    flex: 0 0 100%;
    margin: 0;
}

.btn-download-fee {
    border-radius: 14px;
    background: #005d83;
    color: #ffffff;
    border: 1px solid #005d83;
    transition: all .5s;
    padding: 8px 24px; /* Thêm padding để nút bấm đẹp hơn */
    text-decoration: none;
    display: inline-block;
}

.btn-download-fee:hover {
    background: #ffffff;
    color: #005d83;
}

/* Thêm logic cho React */
.collapse-items .collapse {
    display: none;
}
.collapse-items .collapse.show {
    display: block;
}

@media(max-width: 1199px) {
    .collapse-items {
        margin-top: 4.333333333333334vw;
    }
    .collapse-items .collapse-item {
        margin-bottom: 3.0833333333333335vw;
        font-size: 2.3333333333333335vw;
        padding: 1.4166666666666665vw 1.5vw;
    }
    .collapse-items .collapse-item img {
        width: 2.166666666666667vw;
        height: 1.3333333333333335vw;
    }
    .collapse-items .collapse-item.collapsed {
        margin-bottom: 0.5833333333333334vw;
    }
    .collapse-items .collapse-content {
        gap: 4.666666666666667vw 10.166666666666666vw;
        margin-bottom: 4.833333333333333vw;
    }
}