.sc-university {
    padding: clamp(67.96875px, 5.6640625vw, 116px) 0px 0px;
}

.color-4c4c4c {
    color: #4c4c4c !important;
}

.color-4c4c4c span,
.color-4c4c4c strong {
    color: #195973 !important;
}

.sc-university .desc {
    margin-top: clamp(15.8203125px, 1.318359375vw, 27px);
    color: #636363;
}

.sc-map {
    margin-top: clamp(34.5703125px, 2.880859375vw, 59px);
}

.sc-map img {
    width: 100%;
}

@media only screen and (max-width:1199.98px) {
    .sc-university {
        padding: 10.508757297748124vw 0px 0px;
    }

    .sc-university .sc-header {
        padding: 0px 8.006672226855713vw;
    }

    .sc-university .h2-title {
        color: #a0a0a0 !important;
        font-size: 4.0033361134278564vw;
    }

    .sc-university .desc {
        font-size: 3.0025020850708923vw;
    }

    .sc-map {
        margin-top: 3.8365304420350292vw;
    }
}