.sc-university {
    padding: clamp(56.84px, 4.73vw, 97px) 0 0;
}

.color-4c4c4c {
    color: #4c4c4c !important;
}

.color-4c4c4c span,
.color-4c4c4c strong {
    color: #195973 !important;
    font-size: clamp(28.12px, 2.343750vw, 48.00px);
}

.sc-university .desc {
    margin-top: clamp(15.82px, 1.31vw, 27px);
    color: #636363;
    font-size: clamp(14.06px, 1.17vw, 24px);
    line-height: 1.5;
}

.sc-university .sc-map {
    margin-top: clamp(34.57px, 2.88vw, 59px);
}

.sc-logos-university {
    padding: 0;
}

.logos-university-slider {
    overflow: hidden;
}

.logos-university-slider .slide-logo {
    display: flex !important;
    justify-content: center;
}

.logos-university-slider .slide-logo .logo {
    padding: 0 0.78vw;
}

.logos-university-slider .slide-logo img {
    height: auto;
    max-height: 80px;
}

@media only screen and (max-width: 1199.98px) {
    .sc-university {
        padding: 10.5vw 0 0;
    }

    .sc-university .sc-header {
        padding: 0 8vw;
    }

    .sc-university .h2-title {
        color: #a0a0a0 !important;
        font-size: 4vw;
    }

    .sc-university .desc {
        font-size: 3vw;
        margin-top: 4vw;
    }

    .sc-logos-university {
        padding: 0 0 4.5vw;
    }

    ;

    .color-4c4c4c strong {
        font-size: 4.0033361134278564vw;
    }
}