.sc-main-content .button {
    display: flex;
    gap: clamp(2px, 0.195vw, 4px);
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden
}

.sc-main-content .button .item {
    flex: 0 0 calc((100% - clamp(2px, 0.195vw, 4px) * 2) / 3);
    position: relative;
    height: clamp(73px, 6.10vw, 125px);
    color: #003e58;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(9px, 0.732vw, 15px);
    font-size: clamp(11px, 0.928vw, 19px);
    font-weight: 500;
    line-height: normal;
    background-image: linear-gradient(23deg, #f9f9f9 0%, #ebebeb 99%, #ebebeb 100%);
    text-transform: uppercase
}

.sc-main-content .button * {
    transition-duration: .5s
}

.sc-main-content .button .item img {
    width: clamp(20px, 1.709vw, 35px);
    height: clamp(26px, 2.197vw, 45px);
    filter: brightness(0) saturate(100%) invert(17%) sepia(16%) saturate(6800%) hue-rotate(171deg) brightness(95%) contrast(101%)
}

.sc-main-content .button .item::after {
    content: '';
    position: absolute;
    width: clamp(73px, 6.05vw, 124px);
    height: 100%;
    top: 0;
    left: 0;
    background: no-repeat center/cover url('/assets/images/about-mark-left.png');
    filter: brightness(0) saturate(100%) invert(42%) sepia(8%) saturate(475%) hue-rotate(131deg) brightness(-40%) contrast(88%)
}

.sc-main-content .button .item:nth-child(1).active {
    background-image: linear-gradient(33deg, #819314 0%, #bed62f 100%)
}

.sc-main-content .button .item:nth-child(2).active {
    background-image: linear-gradient(23deg, #5bcbf5 0%, #0794c9 99%, #0794c9 100%)
}

.sc-main-content .button .item:nth-child(3).active {
    background-image: linear-gradient(152deg, #0794c9 0%, #004d6c 100%)
}

.sc-main-content .button .item.active {
    color: #FFF
}

.sc-main-content .button .item.active img {
    filter: unset
}

@media(max-width:1199.97px) {
    .sc-main-content .button {
        gap: .33333333333333vw
    }

    .sc-main-content .button .item {
        flex: 0 0 calc((100% - 0.33333333333333337vw * 2) / 3);
        height: 10.416666666667vw;
        font-size: 19px
    }

    .sc-main-content .button .item img {
        width: 2.9166666666667vw;
        height: 3.75vw
    }
}

@media(max-width:640px) {
    .sc-main-content .button {
        gap: 4px;
        flex-wrap: wrap
    }

    .sc-main-content .button .item {
        flex: 0 0 100%
    }
}


.collapse-items {
    margin-top: clamp(15px, 1.221vw, 25px)
}

.collapse-items .collapse-item {
    background-image: linear-gradient(270deg, #5bcbf5 0%, #005d83 100%);
    padding: clamp(10px, 0.830vw, 17px) clamp(11px, 0.879vw, 18px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: clamp(9px, 0.732vw, 15px);
    color: #fff;
    font-size: clamp(14px, 1.172vw, 24px);
    line-height: 1.458;
    font-weight: 500;
    align-items: center;
    margin-bottom: clamp(8px, 0.684vw, 14px)
}

.collapse-items .collapse-item img {
    width: clamp(15px, 1.270vw, 26px);
    height: clamp(9px, 0.781vw, 16px);
    transition-duration: 1s
}

.collapse-items .collapse-item.collapsed.mb0 {
    margin-bottom: 0
}

.collapse-items .collapse {
    margin-bottom: clamp(38px, 3.125vw, 64px)
}

.collapse-items .collapse:last-child {
    margin-bottom: 0
}

.collapse-items .collapse-item:not(.collapsed) img {
    transform: rotate(180deg)
}

.collapse-items .collapse-content {
    justify-content: flex-start;
    gap: clamp(33px, 2.734vw, 56px) clamp(71px, 5.957vw, 121px);
    display: flex;
    flex-wrap: wrap
}

.collapse-items .collapse-content .item {
    flex: 0 0 calc((100% - clamp(71px, 5.957vw, 121px) * 2) / 3);
    font-size: clamp(14px, 1.172vw, 24px);
    line-height: 1.25;
    color: #010101;
    font-weight: 500;
    display: flex;
    flex-direction: column
}

.collapse-items .collapse-content .item img {
    max-width: clamp(142px, 11.865vw, 243px);
    height: clamp(201px, 16.748vw, 343px);
    margin-bottom: clamp(9px, 0.732vw, 15px)
}

.df-popup-thumb {
    margin: 0 0 clamp(9px, 0.732vw, 15px) !important;
    width: unset !important
}

@media(max-width:1199.97px) {
    .collapse-items {
        margin-top: 2.0833333333333vw
    }

    .collapse-items .collapse-item {
        margin-bottom: 3.0833333333333vw;
        font-size: 2.3333333333333vw;
        padding: 1.4166666666667vw 1.5vw
    }

    .collapse-items .collapse-item img {
        width: 2.1666666666667vw;
        height: 1.3333333333333vw
    }

    .collapse-items .collapse-item.collapsed {
        margin-bottom: 1.1666666666667vw
    }

    .collapse-items .collapse-item.collapsed.mb0 {
        margin-bottom: 0
    }

    .collapse-items .collapse-content {
        gap: 4.6666666666667vw 10.166666666667vw
    }

    .collapse-items .collapse-content .item {
        flex: 0 0 calc((100% - 10.166666666666666vw) / 2);
        font-size: 2vw
    }

    .collapse-items .collapse-content .item img {
        max-width: unset;
        max-height: unset;
        width: 100%;
        height: 100%;
        margin-bottom: 1.25vw
    }
}